<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Navvvvvv</title> -->
  <!-- Font awesome kit Code -->
  <script src="https://kit.fontawesome.com/b5e8de9747.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="public/styles/header.css">
<!-- </head> -->

<!-- <body> -->
  <header>

    <div class="logo">
      <i class="fas fa-briefcase"></i>
      <span>Resource-Wall</span>
    </div>

    <div class="right-block">

      <div class="greeting">
        <span>Hello Taylor!</span>
      </div>

      <div class="nav_links">
        <a href="/create"><button>Create a Resource</button></a>
        <a href="/my-resources"><button>My Resource</button></a>
        <a href="#"><button>Logout</button></button> </a>
      </div>
    </div>
  </header>
<!-- </body> -->

<!-- </html> -->
