<script src="https://kit.fontawesome.com/b5e8de9747.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
<link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
<link rel="stylesheet" href="/styles/header.css" type="text/css" />

<header>
  <div class="left-side">
    <i class="fas fa-briefcase"></i>
    <span class="app-name">reSource</span>
  </div>
  <div class="nav-links">
    <div class="profile-link">
      <h2>Hello, <a href="/profile">TaylorSwift</a>!</h2>
    </div>
    <div class="bottom-links">
      <a class="create" href="/create" role="button">Create a Resource</a>
      <a class="my-resources" href="/my-resources" role="button">My Resources</a>
      <form class="form-inline" action="/logout" method="POST">
        <a class="logout" href="/" type="submit">Logout</a>
      </form>
    </div>
  </div>
</header>

