<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Create a Resource</title>
  <script src="https://kit.fontawesome.com/b5e8de9747.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/styles/create.css">
</head>

<body>
  <%- include('partials/header') %>
  <main id="main-block">
    <div class="main-block-header">
      <h1>Create a Resource</h1>
    </div>
    <form id="details" method="POST" action="/create">
      <div class="info">
          <select id="category" name="category">
              <option value="" disabled selected hidden>Category</option>
              <option value="animals">Animals</option>
              <option value="arts-and-crafts">Arts & Crafts</option>
              <option value="education">Education</option>
              <option value="food-and-drinks">Food & Drinks</option>
              <option value="music">Music</option>
              <option value="other">Other</option>
          </select>
        <input class="title" type="text" name="title" placeholder="Title">
        <input class ="link" type="text" name="photo_url" placeholder="Enter link to thumbnail picture...">
        <textarea name="summary" rows="3" cols="50" placeholder="Enter your summary here..."></textarea>
        <textarea name="description" rows="8" cols="50" placeholder="Enter contents here..."></textarea>
        <div class="tags">
          <input type="text" name="tags" placeholder="#tag1">
          <input type="text" name="tags" placeholder="#tag2">
          <input type="text" name="tags" placeholder="#tag3">
        </div>
        <input class ="link" type="text" name="resource_url" placeholder="Enter link to source...">
      </div>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>
</html>
