<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>

   <link rel="stylesheet" href="/styles/home_page.css"/>
   <!-- <script src="https://kit.fontawesome.com/b5e8de9747.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="public/styles/header.css"/> -->

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>

    <%- include('partials/header') %>

    <div class="search">
      <input type="text" placeholder="Search..">
    </div>

    <div class="main_container">

    <div class="box">
        <div class="mini-resource" id="thumbnail_one">

        </div>
        <div class="text">
            <h3>Clostridium tetani</h3>
            <p>Uncool, sneaky sneakers. Pay attention to your cuts & scrapes</p>

        </div>
        <div class="buttons">
          <a href="#"><button>Category</button></a>
          <a href="/api/read_more"><button>Read More</button></a>
        </div>
    </div>

    <div class="box">
        <div class="mini-resource" id="thumbnail_two">

        </div>
        <div class="text">
            <h3>C.botulinum</h3>
            <p>Cant live with them; cant without either.</p>

        </div>
        <div class="buttons">
          <a href="#"><button>Category</button></a>
          <a href="/api/read_more"><button>Read More</button></a>
        </div>

    </div>

    <div class="box">
        <div class= "mini-resource" id="thumbnail_three">

        </div>
        <div class="text">
            <h3>E.coli O157:H7</h3>
            <p>Bad one--Watch out meat and spinach!!</p>

        </div>
        <div class="buttons">
          <a href="#"><button>Category</button></a>
          <a href="/api/read_more"><button>Read More</button></a>
        </div>
    </div>

</div>

  </body>
</html>
