<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Resource-Wall</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/landing.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- Font Awesome Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
  </head>

  <body>
    <nav id="nav-bar">
      <div class="left-side">
        <i class="logo"></i>
        <span class="app-name"></span>
      </div>
      <div class="buttons">
        <a class="login-button" href="/login" role="button">Login</a>
        <a class="signup-button" href="/register" role="button">Sign up</a>
      </div>
    </nav>
    <div class="call-to-action">
      <a class="thumbnails" href="/login">
        <img class="image-1" src="/images/image-1.jpg"></i>
        <img class="image-2" src="/images/image-2.jpg"></i>
        <img class="image-3" src="/images/image-3.jpg"></i>
      </a>
      <h1 class="message">Start Saving <br> Your Links and Resources</h2>
      <a class="secondary-login" href="/login" role="button"></a>
      </div>
  </body>
</html>
