<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

    <!-- My Resources CSS-->
    <link rel="stylesheet" href="/styles/resource-container.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/my_resources.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/main.css" type="text/css"/>




    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>


    <script src="scripts/my-resources.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <main>
      <div class="search-bar">
        <input class="search-text" type="text" placeholder="Search..">
      </div>
      <section class='resource-row'>
        <div class='liked-resources-container'>
          <div class='liked-header'>
          <h2>Likes</h2>
          </div>
          <div class='liked-pair'>
          <div id="resources"></div>

          </div>
        </div>
        <div class='my-resources-container'>
          <h2>My Resources</h2>
          <div class='resource-container'>
            <div>
              <img src='https://greenhealthycooking.com/wp-content/uploads/2018/05/Healthy-Breakfast-SMoothies.jpg' class='resource-thumbnail'>
            </div>
            <div class='resource-title'>
              Healthy Breakfast Smoothies
            </div>
            <div class='resource-summary'>
              These 6 delicious breakfast smoothies will give you all the energy you need to conquer your day.
            </div>
            <div class='category'>
              Food and Drink
            </div>
            <div class='tags-container'>
              <div class='tag'>
                Healthy Living
              </div>
              <div class='tag'>
                Breakfast
              </div>
              <div class='tag'>
                Smoothies
              </div>
            </div>
            <div class='read-more'>
              <form action="/resource" method='GET'>
                <button type='submit' class='read-more' id='button-click'>READ MORE</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
