<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Resources</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/resource-container.css" type="text/css"/>
    <link rel="stylesheet" href="/styles/my-resources.css" type="text/css"/>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="/scripts/my-resources.js"></script>
    <script src="/scripts/search-redirect.js"></script>
  </head>

  <body>
    <%- include('partials/header') %>
    <main>
      <div class="search-bar">
        <select id="search" class="search" name="category">
          <option value="" disabled selected hidden>Category</option>
          <option value="Animals">Animals</option>
          <option value="Arts and Crafts">Arts and Crafts</option>
          <option value="Education">Education</option>
          <option value="Food and Drink">Food and Drink</option>
          <option value="Music">Music</option>
          <option value="Other">Other</option>
        </select>
      </div>
      <section class='resource-row'>
        <div class='liked-resources-container'>
          <div class='liked-header'>
            <h2>My Liked Resources</h2>
          </div>
          <div class='liked-pair'>
            <div id="resources"></div>
          </div>
        </div>

        <div class='my-resources-container'>
          <div class='my-resources-header'>
            <h2>My Resources</h2>
          </div>
          <div id="savedResources"></div>
        </div>
        </div>
      </section>
    </main>
  </body>
</html>
