<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Create an Account</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
  </head>

  <body>
    <div class="message">Sign up <br>to start resourcing</div>
    <div class="signup-container">
      <img class="logo">
      <form class="form-inline justify-content-center" action="/register" method="POST">
        <div class="grid">
          <div class ="username">
            <input type="username" class="form-control" name="username" id="username" placeholder="Username">
          </div>
          <div class ="email">
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
          </div>
          <div class ="password" >
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          </div>
          <button class="signup-button" type="submit">Sign up</button>
        </div>
        <a href="/login">Already a member? Login instead!</a>
      </form>
      <div class="login-bg"></div>
    </div>
  </body>
</html>
