<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>reSource</title>
  <script src="https://kit.fontawesome.com/b5e8de9747.js" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/header') %>
  <h1>expanded resource</h1>
</body>
</html>
