header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em 0 2em;
  background: #00c4c5;
  height: 10em;
}

header .left-side {
  display: flex;
}

header .left-side .logo {
  width: 5em;
  height: 5em;
  /* Logo size will change later*/
  border: 2px #ffbd26 solid;
  border-radius: 4em;
  line-height: 3em;
  background: #ffbd26;
  margin-right: 1em;
}

header .left-side .app-name {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 3.75em;
  line-height: 1.25em;
  text-decoration: none;
  text-shadow: .08em .08em #56a7a7;
  color: #ffffff;
}

header .nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: auto;
}

header .nav-links h2 {
  font-family: Futura;
  font-style: normal;
  font-size: 1.75em;
  font-weight: 100;
  color: #212722;
  margin-top: 0;
  margin-bottom: .25em;
}

header .nav-links h2 a {
  color: #212722;
  text-decoration: none;
}

header .nav-links .bottom-links {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: Futura;
  font-size: 1.25em;
  color: #212722;
}

header .nav-links .bottom-links .create {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  border: 4px solid #4dd4d5;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4dd4d5;
  text-align: center;
  justify-content: center;
  margin: 0 1em 0 1em;
  transition: all 0.2s;
}

header .nav-links .bottom-links .my-resources {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  border: 4px solid #4dd4d5;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4dd4d5;
  text-align: center;
  justify-content: center;
  transition: all 0.2s;
}

header .nav-links .bottom-links .logout {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.3em 1.2em;
  border-radius: 2em;
  border: 4px solid #4dd4d5;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #4dd4d5;
  text-align: center;
  margin: 0 0 0 1em;
  justify-content: center;
  transition: all 0.2s;
}
