
.main_container{
 width: 100%;
 display: flex;

align-items: center;
}

 .text{
margin: 1em;
}

button{
  /* padding: 9px 25px; */
  border: none;
  border-radius: 10em;
  background-color:#00ADB5 ;
  color: white;
  cursor: pointer;
  font-weight: bold;
  width: 10em;
  padding: 10px;

}

button:hover{
  color:black;
  transition-duration: 0.4s;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.search{
display: flex;
    /* width: 100%; */
    border-radius: 1.15em;

justify-content: center;
  padding-top: 10em;

}
.search input{
  width: 70%

}
