html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: none;
  display: flex;
  flex-direction: column;
  font-family: Noto Sans;
}

body select {
  text-align: center;
  border-radius: 1.15em;
  padding: 1.5em 0 1.5em 0;
  width: 75%;
}

body .main_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1.5em 0 1.5em;
}

body .box {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3em;
}

@media screen and (min-width: 950px) {
  body .box {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 1300px) {
  body .box {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 1850px) {
  body .box {
    flex-basis: 25%;
  }
}

body .box .resource-thumbnail {
  border: none;
  border-radius: 1em;
}

body .box .text h3 {
  font-size: 1.5em;
  margin: .75em 0 .75em 0;
}

body .box .text p {
  min-height: 4em;
  text-align: left;
}
