html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: none;
  display: flex;
  flex-direction: column;
  font-family: Noto Sans;
}

body .search-bar {
  display: flex;
  justify-content: center;
  margin: 2em 0 2em 0;
}

body .main_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 2em 0 2em;
  border: greenyellow 2px solid;
}

body .main_container .box {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 3em;
  border: indianred 2px;
}

@media screen and (min-width: 950px) {
  body .main_container .box {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 1300px) {
  body .main_container .box {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 1850px) {
  body .main_container .box {
    flex-basis: 25%;
  }
}

body .main_container .box .resource-thumbnail {
  border: none;
  border-radius: 1em;
}

body .main_container .box .text h3 {
  font-size: 1.5em;
  margin: .75em 0 .75em 0;
  border: #b300ff 2px solid;
}

body .main_container .box .text p {
  min-height: 4em;
  text-align: left;
  border: #ff006f 2px solid;
}

body .main_container .box .buttons {
  border: #ffea00 2px solid;
}

body .main_container .box .buttons a {
  flex-direction: column;
}
