body {
  font-family: Noto Sans;
}

body .search-bar {
  display: flex;
  justify-content: center;
  margin: 2em 0 2em 0;
}

body #home_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 0 2em 0 2em;
}

body #home_container .box {
  max-width: 45em;
  text-align: center;
  margin-bottom: 2em;
  margin-right: 1em;
}

@media screen and (min-width: 1400px) {
  body #home_container .box {
    max-width: 20em;
    margin-right: 2em;
  }
}

body #home_container .box .mini-resource {
  border: none;
  width: auto;
  border-radius: 1em;
  overflow: hidden;
}

body #home_container .box .mini-resource .resource-thumbnail {
  width: 100%;
}

body #home_container .box .text h3 {
  font-size: 1.45em;
  margin: .75em 0 .75em 0;
  line-height: 1.2em;
  text-transform: uppercase;
  border: #000000 2px solid;
  border-radius: 2em;
  background: #000000;
  color: #FFFF;
}

body #home_container .box .text p {
  min-height: 4em;
  font-size: 1.25em;
  text-align: left;
}

body #home_container .box .buttons .search-cat {
  text-align: center;
  padding: .25em 0 .25em 0;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5em;
  background: #000000;
  border: #000000 2px solid;
  border-radius: 2em;
}

body #home_container .box .buttons .search-cat .category {
  color: #FFF;
}

body #home_container .box .buttons .search-cat a {
  text-decoration: none;
  color: #FFF;
}

body #home_container .box .buttons .read-more {
  text-align: center;
  padding: .25em 0 .25em 0;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  background: #000000;
  border: #000000 2px solid;
  border-radius: 2em;
}

body #home_container .box .buttons .read-more a {
  text-decoration: none;
  color: #FFF;
}
