html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25%;
}

.message {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-right: .25em;
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 4.5em;
  line-height: 1.10em;
  width: 50%;
  border: fuchsia 2px solid;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: .25em;
  border: cyan 2px solid;
}

.logo {
  align-items: center;
  flex-direction: column;
  width: 60px;
  height: 60px;
  /* Logo size will change later*/
  border: 2px yellowgreen solid;
}

h1 {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}

.form-inline {
  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  color: #000000;
}

.login-button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  border: 4px solid #000000;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  justify-content: center;
  transition: all 0.2s;
}

.login-button:hover {
  color: #000000;
  border-radius: 2em;
  border: 4px solid #000000;
  border-color: #000000;
  background-color: transparent;
  transition: background-color ease 550ms;
}
