.rating {
  position: relative;
  width: 15em;
  background: transparent;
  display: flex;
  gap: .3em;
  padding: 5px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
}

.rating .rating__result {
  top: 0;
  left: 0;
  transform: translateY(-10px) translateX(-35px);
  z-index: -9;
  font-size: 0;
  color: #ebebeb8e;
  pointer-events: none;
  padding-left: 1em;
}

.rating .rating__star {
  font-size: 1.3em;
  cursor: pointer;
  color: #ffbd26;
  transition: filter linear .3s;
}

.rating .rating__star:hover {
  filter: drop-shadow(1px 1px 4px gold);
}
