.category {
  border: solid;
  border-radius: 15px;
  margin-top: 5px;
  text-align: center;
  font-size: .66em;
}

#rc1 {
  padding-right: 5px;
}

#rc2 {
  padding-left: 5px;
}

.read-link {
  border: black solid;
  border-radius: 15px;
  padding: 5px;
}

.read-more {
  width: 385px;
  height: 49px;
  margin-top: 5px;
  border-radius: 15px;
  border-color: black;
  font-family: Noto Sans;
  justify-content: center;
  display: flex;
  align-items: center;
}

.resource-container {
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  width: 386px;
  height: 495px;
  left: 43px;
  font-family: Noto Sans;

}

.resource-container:hover {
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.resource-summary {
  justify-content: center;
  font-size: .66em;
  line-height: 1.35em;
  text-align: justify;
  color: #000000;
}

.resource-thumbnail {
  width: 385px;
  height: 300px;
  border: 3px solid #000000;
  border-radius: 25px;
}

.resource-title {
  justify-content: center;
  font-family: Noto Sans;
  font-size: 1em;
  line-height: 1.35em;
  text-align: center;
  color: #000000;
}

.tags-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}

.tag {
  border: solid;
  border-radius: 15px;
  font-size: .66em;
  text-align: center;
  width: 120px;
}
