html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#all-contents {
  display: flex;
  flex-direction: row;
  font-family: Noto Sans;
  width: 100%;
  justify-content: space-between;
  padding: 2em 4em 0 4em;
  color: #212722;
}

#all-contents #expanded-resource {
  display: flex;
  flex-direction: column;
  padding: 0 2em 0 4em;
  max-width: 60%;
}

#all-contents #expanded-resource .resource-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#all-contents #expanded-resource .resource-header .title-and-category {
  line-height: 1em;
  margin-bottom: .5em;
}

#all-contents #expanded-resource .resource-header .title-and-category h3 {
  text-transform: uppercase;
  font-size: 2em;
}

#all-contents #expanded-resource .resource-header .title-and-category h1 {
  font-size: 2.75em;
}

#all-contents #expanded-resource .resource-header .all-rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-bottom: 1em;
}

#all-contents #expanded-resource .resource-header .all-rating .average__rating {
  font-size: 1.5em;
}

#all-contents #expanded-resource .contents {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

#all-contents #expanded-resource .contents .image {
  max-width: 100%;
  border-radius: 1.5em;
  margin-bottom: 2em;
}

#all-contents #expanded-resource .contents .description-container {
  border-radius: 1.5em;
  font-size: 1.25em;
  padding: 1.25em;
  line-height: 1.55em;
  border: 3px solid #212722;
}

#all-contents #expanded-resource .contents .more-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
}

#all-contents #expanded-resource .contents .more-containers .left-side {
  display: flex;
  flex-direction: column;
  padding-right: .5em;
  width: 90%;
}

#all-contents #expanded-resource .contents .more-containers .left-side .tags {
  flex-direction: row;
  font-size: 1.25em;
  border-radius: 1.5em;
  line-height: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-top: .5em;
  border: 4px solid #4dd4d5;
  color: #FFFFFF;
  background-color: #4dd4d5;
}

#all-contents #expanded-resource .contents .more-containers .left-side .external-link {
  font-family: Futura;
  font-size: 1.25em;
  border-radius: 1.5em;
  line-height: 1.55em;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-align: center;
  border: #ffbd26 2px solid;
  background: #ffbd26;
  margin-top: .5em;
}

#all-contents #expanded-resource .contents .more-containers .like-button {
  display: flex;
}

#all-contents #expanded-resource .contents .more-containers .like-button .fas {
  font-size: 7em;
  color: #DA2A47;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#all-contents #expanded-resource .contents .more-containers .like-button .far {
  font-size: 7em;
  color: #DA2A47;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#all-contents #comments-section {
  display: flex;
  flex-direction: column;
  padding: 5em 2em 0 1em;
  width: 36%;
}

#all-contents #comments-section .comment-form h3 {
  text-transform: uppercase;
  margin-bottom: .5em;
}

#all-contents #comments-section .comment-form form textarea {
  resize: none;
  width: 100%;
  min-height: 8em;
  border-radius: 1.5em;
  line-height: 1.55em;
  border: 3px solid #212722;
  padding: .5em;
}

#all-contents #comments-section .comment-form form textarea:focus {
  outline: none;
}

#all-contents #comments-section .comment-form form .rating-send {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#all-contents #comments-section .comment-form form .rating-send .submit-comment {
  cursor: pointer;
  padding: 0.3em 2em;
  border-radius: 2em;
  border: 4px solid #212722;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #212722;
  text-align: center;
  justify-content: center;
  transition: all 0.2s;
}

#all-contents .comments {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

#all-contents .comments .comments-container .comment {
  width: 100%;
  font-size: 1em;
  border-radius: 1.25em;
  line-height: 1.55em;
  border: 3px solid #212722;
  padding: .5em;
  word-break: break-all;
}

#all-contents .comments .comments-container .username {
  padding: .25em 0 0 .5em;
  font-size: .85em;
}

#all-contents .comments .comments-container .timestamp {
  padding: 0 0 2em .5em;
  font-size: .80em;
  color: #434343;
}
