html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  font-family: Noto Sans;
}

main .liked-header {
  margin-left: 2em;
}

main #rc1 {
  margin-left: 2em;
}

main .resource-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2em;
}

@media screen and (min-width: 950px) {
  main .resource-container {
    flex-basis: 40%;
  }
}

@media screen and (min-width: 1300px) {
  main .resource-container {
    flex-basis: 30%;
  }
}

@media screen and (min-width: 1850px) {
  main .resource-container {
    flex-basis: 20%;
  }
}

main .resource-container .resource-thumbnail {
  border: none;
  border-radius: 1em;
  object-fit: contain;
  max-width: 100%;
  height: auto;
}

main .resource-container .resource-title {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
  margin: .5em 0 .5em 0;
}

main .resource-container .resource-summary {
  min-height: 4em;
  text-align: left;
  margin: .5em 0 .5em 0;
}

main .resource-container .category {
  text-align: center;
  margin-top: 1em;
  padding: .25em 0 .25em 0;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  border: #000000 2px solid;
  border-radius: 2em;
}

main .resource-container .tags-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .resource-container .tags-container .tag {
  text-transform: lowercase;
  border: #000000 2px solid;
  border-radius: 2em;
  width: 33%;
  font-size: .8em;
  margin: .5em 0 .5em 0;
}

main .resource-container .read-more {
  text-align: center;
  padding: .25em 0 .25em 0;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  background: #000000;
  border: #000000 2px solid;
  border-radius: 2em;
}

main .resource-container .read-more a {
  text-decoration: none;
  color: #FFF;
}
