html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  #nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em 4em 0 4em;

    .left-side {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .logo {
      width: 60px;
      height: 60px;
      /* Logo size will change later*/
      border: 2px yellowgreen solid;
      margin-right: 1em;
    }

    .app-name {
      font-family: Futura;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 53px;

      color: #000000;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .login-button {
      cursor: pointer;
      padding:0.3em 1.2em;
      margin:0 0.3em 0.3em 0;
      border-radius:2em;
      border: 4px solid #000000;
      box-sizing: border-box;
      text-decoration:none;
      font-family:Futura;
      font-size: 1em;
      color:#FFFFFF;
      background-color: #000000;
      text-align: center;
      justify-content: center;
      transition: all 0.2s;
    }

    .login-button:hover {
      color: #000000;
      border-radius:2em;
      border: 4px solid #000000;
      border-color: #000000;
      background-color: transparent;
      transition: background-color ease 575ms;
    }

    .signup-button {
      cursor: pointer;
      padding:0.3em 1.2em;
      margin:0 0.3em 0.3em 0;
      border-radius:2em;
      border: 4px solid #000000;
      box-sizing: border-box;
      text-decoration:none;
      font-family:Futura;
      font-size: 1em;
      color:#FFFFFF;
      background-color: #000000;
      text-align: center;
      justify-content: center;
      transition: all 0.2s;
    }

    .signup-button:hover {
      color: #000000;
      border-radius:2em;
      border: 4px solid #000000;
      border-color: #000000;
      background-color: transparent;
      transition: background-color ease 575ms;
    }
  }

  .call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .thumbnails {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 10%;
      padding-bottom: 1.5em;

      .image-1 {
        max-width: 20em;
        max-height: 20em;
        cursor: pointer;
        border-radius: 2em;
      }

      .image-2 {
        max-width: 20em;
        max-height: 20em;
        cursor: pointer;
        margin: 0 2em 0 2em;
        border-radius: 2em;
      }

      .image-3 {
        max-width: 20em;
        max-height: 20em;
        cursor: pointer;
        border-radius: 2em;
      }
    }

    h1 {
      font-family: Futura;
      font-style: normal;
      font-weight: bold;
      font-size: 4.5em;
      line-height: 1.2em;
      align-items: center;
      text-align: center;
      margin-top: .25em;
      margin-bottom: .25em;

      color: #006D5B;
    }

    .secondary-login {
      align-items: center;
      width: 60px;
      height: 60px;
      /* Logo size will change later*/
      border: 2px yellowgreen solid;
    }
  }
}
