html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: row;
  justify-content:  center;
  align-content: center;
  margin-top: 15%;

  .message {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: .25em;

    font-family: Futura;
    font-style: normal;
    font-weight: bold;
    font-size: 4.5em;

    text-align: right;
    line-height: 1.10em;
    width: auto;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: .25em;
    padding: 7em 2em 7em 2em;

    background: #F3F3F3;
    border-radius: 25px;

    .logo {
      align-items: center;
      flex-direction: column;
      width: 60px;
      height: 60px;
      /* Logo size will change later*/
      border: 2px yellowgreen solid;
    }

    h1 {
      font-family: Futura;
      font-style: normal;
      font-size: 1.75em;
      font-weight: 100;
      color: #000000;
    }

    .form-inline {
      font-family: Futura;
      font-style: normal;
      font-weight: 100;
      color: #000000;
    }

    .grid {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .email {
        display: flex;
        flex-direction: column;
        padding: 0 0 .5em 0;
      }

      .password {
        display: flex;
        flex-direction: column;
        padding: 0 0 1.5em 0;
      }

      .login-button {
        display: flex;
        flex-direction: column;

        cursor: pointer;
        padding:0.3em 1.2em;
        border-radius:2em;
        border: 4px solid #000000;
        box-sizing: border-box;
        text-decoration:none;

        color:#FFFFFF;
        background-color: #000000;

        text-align: center;
        justify-content: center;
        transition: all 0.2s;
      }

      .login-button:hover {
        color: #000000;
        border-radius:2em;
        border: 4px solid #000000;
        border-color: #000000;
        background-color: transparent;
        transition: background-color ease 550ms;
      }

      a {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: .25em 0 0 0;
        color: #434343;
        font-size: .75em;
      }
    }
  }
}
