html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.call-to-action {
  position: absolute;
  width: 860px;
  height: 191px;
  left: 20%;
  top: 13%;

  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 75px;
  line-height: 100%;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
}

.login-container {
  position: absolute;
  width: 423px;
  height: 500px;
  left: 508px;
  top: 40%;

  background: #F3F3F3;
  border-radius: 25px;
}

.logo {
  position: absolute;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  width: 60px;
  height: 60px;

  top: 20%;
  border: 2px cyan solid;
}

h1 {
  position: absolute;
  width: 292px;
  height: 32px;
  left: 912px;
  top: 35%;

  font-family: Futura;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;

  color: #000000;
}

.grid {
  position: absolute;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.form-inline {
  position: absolute;
  width: 283px;
  height: 201px;
  left: 916px;
  top: 482px;
}
