html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 2em 0 2em 0;

  .search {
    border-radius: 2em;
    width: 55%;
    height: 2em;
    font-size: 1.5em;
    padding-left: 17em;
    color: #757878;
    border-color:#c4e0dc;

    option {
      text-align-last:right;
    }
  }
}

.resource-row {
  display: flex;
  justify-content: center;

  .my-resources-container {
    display: flex;
    flex-direction: row;
    width:30;

    .my-resources-header {
      display: flex;
      // flex-direction: column;
    }

    // .liked-pair {
    //   display: flex;
    //   flex-direction: column;
    //   // border: green 2px solid;
    // }

    #categorizedResources {
      display: flex;
      flex-wrap: wrap;
    }
  }
}



